@import url("./colors.css");

* {
    font-family: FiraCode Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background: none;
}

.modules-center {
    padding: 5px;
}

.modules-right {
    padding: 5px;
}

#workspaces {
    background-color: @background;
    border-radius: 19px;
    margin: 5px;
}

#workspaces button {
    background-color: @cyan;
    border-radius: 16px;
    border-width: 0px;
    margin: 3px 0px 3px 3px;
    padding-left: 8px;
    padding-right: 8px;
    color: @background;
}

#workspaces button:last-child {
    margin: 3px;
}

#workspaces button.active {
    
}

#workspaces button.empty {
    /*FIXME, this color is not visible*/
    background: @foreground-darker;
    color: @foreground;
}

#workspaces button.visible {
    background: @pink;
    color: @background;
}

#workspaces button.urgent {
    background: @red;
    color: @foreground;
}

#workspaces button.hidden {

}

#workspaces button.persistent {

}

#workspaces button:hover {
    box-shadow: inset 16px 16px 16px 16px rgba(46, 39, 51, 0.2);
    
    text-shadow: none;

    /*It is necessary to set the color here, because the default is white*/
    background: @cyan;
    color: @background;

    border-width: 0px;
    border-color: transparent;
}

#workspaces button.visible:hover {
    background: @pink;
}

#workspaces button.urgent:hover {
    background: @red;
}

#workspaces button.empty:hover {
    box-shadow: inset 16px 16px 16px 16px rgba(242, 248, 247, 0.2);
    background: @background-lighter;
    color: @foreground;
}

#clock {
    background-color: @background;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 10px 0px 10px;
    color: @foreground;
}

#mode {}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @foreground;
}

#window,

#battery {
    background-color: @cyan;
    color: @background;
}

#battery.charging, #battery.plugged {
    color: @foreground;
    background-color: @cyan;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @pink;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    background-color: @cyan;
}

#network {
    background-color: @cyan;
}

#network.disconnected {
    background-color: @pink;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#tray {
    background-color: @background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @background;
}

#idle_inhibitor {
    background-color: @background;
}

#idle_inhibitor.activated {
    background-color: @pink;
    color: @foreground;
}


#language {
    background: @background;
    color: @foreground;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

